@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --quorum-indigo: #6366f1;
    --quorum-violet: #8b5cf6;
    --quorum-amber:  #f59e0b;
    --quorum-emerald: #10b981;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thumb-white\/10::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 0.1);
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
